<h1 class="mb-3">Daftar Products</h1>
<div class="card" style="width: 18rem">
    <div class="card-body">
        <h5 class="card-title">
            <%= book.title_book %>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <%= book.writer %>
        </h6>
        <p class="card-text">
            <%= book.year_publish %>
        </p>
        <p class="card-text">
            <%= book.createdAt %>
        </p>
        <a href="/" class="card-link">&laquo;kembali</a>
    </div>
</div>